@{
    ViewBag.Title = "AboutOrganization";
}


    <h2>
        <span style="font-style:oblique;font-weight:700;color:black;">When we first time we heard about</span>   <span style="color: gold;font-weight:900"> Natus </span> <span style="font-weight:900; color:darkkhaki;"> Vinsere </span>
    </h2>
    <p>
        <span style="color: gold;font-size: 25px;"> Natus Vincere </span> <span style="color: black;font-weight:700; font-size: 25px; font-style:italic;font-family:Calibri">
    (from Latin - "Born to Win" ), abbreviated Na'Vi - Ukrainian multiplayer e-sports organization.
    For the first time in the history of e-sports in 2010, the team won three major tournaments in one year - World Cyber Games,
    Intel Extreme Masters, Electronic Sports World Cup. On August 21, 2011, she won the $ 1,000,000 prize in Dota 2. In October 2009, when computer sports were rapidly gaining popularity, and the number of 
        championships with large prize money steadily grew, the patron from Kazakhstan <span style="color: gold;">Murat " Arbalet" Zhumashevich </span>at the Intel Extreme Masters tournament in Dubai voiced the idea of
      creating an e-sports organization.
      Arbalet set out to create a professional team, for which he will become the main sponsor: provide players with a training ground and take on the financial side of the issue,
      from salaries to paying for flights. Starix was the first to respond to the offer - it was he who was given the task of forming a star five.
</span>
    </p>
    <p><a href="https://www.instagram.com/navics.go/" class="btn btn-primary btn-lg">Navi fun club &raquo;</a></p>

    <style>
        p {
            padding-top: 5%;
            text-align: center;
            font-size: 15px;
            padding-bottom: 10%;
        }

        h2 {
            margin-top: 10%;
            text-align: center;
        }
    body { 
        background-image: url('https://s-cdn.sportbox.ru/images/styles/upload/fp_fotos/82/75/02812f7a3d607cdb2c7f4aeeb7cf42f659d25cb4ccebc362735922.jpg');
        height: 10px;
        margin-right: 10%;

    }
</style>