@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address style="margin-top:30%;color:white;font-size:35px;font-style:italic;">
    That's how you can contact us<br />
    Kyiv, Ukraine <br />
    <abbr title="Phone">P: 32345667687</abbr><br />

    <strong>Our site:</strong>   <a style="color:gold"; href="https://navi.gg/">navi.gg</a><br />
    <strong>Our team:</strong> <a style="color:gold" href="https://www.hltv.org/team/4608/natus-vincere">Our team</a><br />
    <strong>Our ranking:</strong> <a style="color:gold" href="https://www.hltv.org/ranking/teams/2020/november/16">Our ranking</a>

</address>


<style>
    body {
        background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQndp96dwc3cfhIA735-TOI1nMMHa3xlDqL8g&usqp=CAU');
        height: 10px;
        margin-right: 10%;
    }

    
</style>