@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron"></div>

    <div class="row">
        <div class="col-md-4">
            <h2 style="color:gold;font-weight:800">Corent teams</h2>
            <p>
                Here you can read information about<span style="color: dodgerblue"> the latest news </span>about our team and take information about coming events.
</p>
            <p><a href="https://navi.gg/navi/players/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2 style="color: black;font-weight:800">The latest news</h2>
            <p>
                Here you can read information about<span style="color: dodgerblue"> the latest news </span>about our team and take information about coming events.
            </p> 
            <p><a class="btn btn-primary btn-lg" href="https://navi.gg/read/tree/2-news">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2  style="color:gold;font-weight:800">Navi Awards</h2>
            <p>The History <span style="color: dodgerblue"> of Navi squads Awards®.</span>  Hall of fame of our time. THe best players in Navi histroy </p>
            <p><a class="btn btn-primary btn-lg" href="https://navi.gg/navi/achievements/">Learn more &raquo;</a></p>
        </div>
    </div>


<style>
    .jumbotron {
        background-image: url('https://www.shaarr.com/app/i-love-you/sharedImgs/9c6585cfd33faeaf0336fdd781b62001.jpg');
        height: 400px;
        margin-left: 250px;
        margin-top: 60px;
        background-repeat: no-repeat;
        background-color: white;
        position: center;
        -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
        transition: width 2s, height 2s, background-color 2s, transform 2s;
    }
        .jumbotron:hover {
            background-image: url('https://ae01.alicdn.com/img/pb/035/413/733/733413035_147.jpg');
            height: 400px;
            margin-left: 250px;
            margin-top: 60px;
            background-repeat: no-repeat;
            background-color: white;
            position: center;
            -webkit-transform: rotate(180deg);
            transform: rotate(360deg);
        }
    
</style>